!<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>ChatApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"
        />

  </head>
  <body>
    <div class="container">
      <div class="container row text-center p-4 bg-info">
        <div class="col-12 ">
          <h1 class="display-6">Django Room Chat</h1>
        </div>
      </div>
      <div class="container m-4 row d-flex align-items-center justify-content-center">
        <div class="col-12 w-50 bg-light">
          <form class="form" action="index" method="post">
            {% csrf_token %}
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control"><br>
            <label for="room_name" class="form-label">Room name</label>
            <input type="text" name="room_name" class="form-control">
            <div class="form-text">Enter name of existing room or enter to create a new room</div>
            <div class="row w-100 mt-4 justify-content-center">
              <div class="col-auto">
                <input type="submti" value="Enter Room" class="btn btn-outline-info">
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>
  </body>
</html>
